* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0e0e0e;
    color: white;
}

/* Navbar */
.navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: #111;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo {
    color: cyan;
    font-size: 24px;
}

.navbar ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.skills-container {
    padding: 120px 40px;
}

.title {
    text-align: center;
    font-size: 36px;
    color: cyan;
    margin-bottom: 40px;

    opacity: 0;
    transform: translateY(40px);
    animation: fadeSlide 1.3s ease forwards;
}

/* Section Box */
.section-box {
    background: #1a1a1a;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.15);

    opacity: 0;
    transform: translateY(40px);
    animation: fadeSlide 1.3s ease forwards;
}

.section-box h2 {
    color: cyan;
    margin-bottom: 20px;
}

/* Skills Grid */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 20px;
}

.skill-card {
    background: #222;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    border: 2px solid cyan;
    transition: 0.3s ease;

    /* Pop animation on hover */
    cursor: pointer;
}

.skill-card:hover {
    transform: scale(1.12);
    background: cyan;
    color: black;
    box-shadow: 0 0 15px cyan;
}

/* Animation */
@keyframes fadeSlide {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
